@import "../../../index.scss";

$headerWrapperHeight: 600px;

:export {
  headerWrapperDefaultHeight: $headerWrapperHeight;
}

.header_wrapper {
  position: relative;
  height: $headerWrapperHeight;
  background-color: $bgColor;
  background-image: url("../../../assets/images/headerBG.png");
  background-repeat: no-repeat;
  background-position: right center;
  .header_content {
    position: fixed;
    z-index: 1000;
    top: 128px;
    left: 220px;
    .header_desc {
      color: $shade50;
      margin-bottom: 32px;
    }
    .filter_container {
      display: flex;
      .text_field {
        margin-right: 16px;
      }
    }
  }
}

.header_upper_bg_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-image: url("../../../assets/images/headerBG.png");
  background-color: white;
  background-position-y: center;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1800px) {
  .header_wrapper {
    .header_content {
      left: 98px;
    }
  }
}
@media (max-width: 550px) {
  .header_wrapper {
    .header_content {
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      @include flex-center-column();
      .filter_container {
        .text_field {
          margin-right: 8px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .header_wrapper {
    .header_content {
      h1 {
        text-align: center;
      }
      .filter_container {
        justify-content: center;
        .text_field {
          width: 70%;
        }
      }
    }
  }
}
