@import '../../../../index.scss';

.btn {
  border: 1px solid $shade20;
  border-radius: 50%;
  background-color: $bgColor;
  width: 56px;
  height: 56px;
  @include flex-center();
  cursor: pointer;
}
