@import '../../../../index.scss';

$animationSpeed: 0.3;

:export {
  animationSpeed: $animationSpeed;
}

.modal_wrapper {
  background-color: $bgColor;
  display: inline-block;
  padding: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: appear #{$animationSpeed}s ease-in forwards;
  z-index: 3000;
  .close_btn {
    position: absolute;
    top: 21px;
    right: 21px;
    cursor: pointer;
  }
}

@media (max-width: 504px) {
  .modal_wrapper {
    width: 100%;
  }
}

.disappear_animation {
  animation: disappear #{$animationSpeed}s linear forwards;
}

@keyframes appear {
  from {
    transform: translate(-50%, -50%) scale(30%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(100%);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    transform: translate(-50%, -50%) scale(100%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(30%);
    opacity: 0;
  }
}
