.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 348px);
  grid-gap: 20px;
  justify-content: center;
  align-content: flex-start;
}

.progress_circle {
  margin-top: 100px;
}
