.modal_wrapper {
  width: 440px !important;
  h3 {
    margin-bottom: 28px;
  }
  .cuisine_checkbox_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .slider {
    margin-top: 60px;
  }
  .button_row {

  }
  .p {
    margin-bottom: 50px;
  }
}

:global(.MuiFormControlLabel-root) {
  margin-left: 0 !important;
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}